.iframe-thumbnail {
  position: relative;
  display: inline-block;
  height: calc(900px * 0.25);
  width: calc(1440px * 0.25);
  overflow: hidden;

  &__container {
    position: relative;
    display: inline-block;
    transform: scale(0.25);
    transform-origin: 0 0;

    &::after {
      position: absolute;
      display: block;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__iframe {
    width: 1440px;
    height: 900px;
  }
}
