$white: #ffffff;
$pop-blue: #007aff;
$dark: #2b3642;
$slate-grey: #586374;
$cool-grey: #92a0ab;
$pale-grey: #e5e8eb;
$organic-blue: #81f7f7;
$error-pink: #ff3366;

$pop-blue-transparent: rgba(0, 122, 255, 0.05);
